<template>
<div>
<div id="pagina">
        <div id="pokemonEspalda">
            <progress :value="this.selectedPokemon.hp" :max="this.selectedPokemon.maxhp"></progress>
            <img :src="'https://projectpokemon.org/images/sprites-models/normal-back/' + this.selectedPokemon.name + '.gif'"
                style="width: 12vw;"><img />
        </div>
        <div id="pokemonCara">
            <progress :value="this.opponentPokemon.hp" :max="this.opponentPokemon.maxhp"></progress>
            <img :src="'https://projectpokemon.org/images/normal-sprite/' + this.opponentPokemon.name + '.gif'" style="width: 12vw;"/>
        </div>
    </div>
    <div id="footer">
        <div id="DivAtaques">
            <h1 id="TitleA">Attack</h1>

            <div class="ataques" @click="attack(0)">
                <p id="ataque1">{{this.selectedPokemon.moves[0].movename}}</p>
                <p class="tipo" id="tipoA1">{{this.selectedPokemon.moves[0].type}}</p>
                <p class="nAtaques">{{this.selectedPokemon.moves[0].pp}}/{{this.selectedPokemon.moves[0].maxpp}}</p>
            </div>

            <div class="ataques" @click="attack(1)">
                <p id="ataque2">{{this.selectedPokemon.moves[1].movename}}</p>
                <p class="tipo" id="tipoA2">{{this.selectedPokemon.moves[1].type}}</p>
                <p class="nAtaques">{{this.selectedPokemon.moves[1].pp}}/{{this.selectedPokemon.moves[1].maxpp}}</p>
            </div>

            <div class="ataques" @click="attack(2)">
                <p id="ataque3">{{this.selectedPokemon.moves[2].movename}}</p>
                <p class="tipo" id="tipoA3">{{this.selectedPokemon.moves[2].type}}</p>
                <p class="nAtaques">{{this.selectedPokemon.moves[2].pp}}/{{this.selectedPokemon.moves[2].maxpp}}</p>
            </div>

            <div class="ataques" @click="attack(3)">
                <p id="ataque4">{{this.selectedPokemon.moves[3].movename}}</p>
                <p class="tipo" id="tipoA4">{{this.selectedPokemon.moves[3].type}}</p>
                <p class="nAtaques">{{this.selectedPokemon.moves[3].pp}}/{{this.selectedPokemon.moves[3].maxpp}}</p>
            </div>
            <button id="switch" v-on:click="switchbutton()"></button>
        </div>

        <div id="DivSwitch">
            <h1 id="TitleA">Switch</h1>

            <div class="pokemons" @click="changePokemon(0)">
                <p id="nomPokemon1">{{this.team[0].name}}</p>
                <progress :value="this.team[0].hp" :max="this.team[0].maxhp"></progress>
            </div>

            <div class="pokemons" @click="changePokemon(1)">
                <p id="nomPokemon2">{{this.team[1].name}}</p>
                <progress :value="this.team[1].hp" :max="this.team[1].maxhp"></progress>
            </div>

            <div class="pokemons" @click="changePokemon(2)">
                <p id="nomPokemon3">{{this.team[2].name}}</p>
                <progress :value="this.team[2].hp" :max="this.team[2].maxhp"></progress>
            </div>

            <div class="pokemons" @click="changePokemon(3)">
                <p id="nomPokemon4">{{this.team[3].name}}</p>
                <progress :value="this.team[3].hp" :max="this.team[3].maxhp"></progress>
            </div>
            <div class="pokemons" @click="changePokemon(4)">
                <p id="nomPokemon5">{{this.team[4].name}}</p>
                <progress :value="this.team[4].hp" :max="this.team[4].maxhp"></progress>
            </div>
            <div class="pokemons" @click="changePokemon(5)">
                <p id="nomPokemon5">{{this.team[5].name}}</p>
                <progress :value="this.team[5].hp" :max="this.team[5].maxhp"></progress>
            </div>
            <button id="attack" v-on:click="attackbutton()"></button>
        </div>

    </div>
    </div>
</template>

<script>
import io from 'socket.io-client';
var Pokedex = require('pokedex-promise-v2');
var P = new Pokedex();
export default {
    data() {
        return {
            clientID : '',
            opponentID : '',
            firstTurn : true,
            team : [],
            turn : false,
            selectedPokemon : null,
            opponentPokemon : null,
            socket : io('localhost:3001')
        }
    },
    methods: {
        async GetRandomTeam(){
            var pokemonTeam = P.resource(['https://pokeapi.co/api/v2/pokemon?limit=6&offset=' + Math.floor(Math.random() * 1112)])
            .then(function(response) {
            
                var pokeTeam = [];
                
                response[0]['results'].forEach(pokemon => {

                    pokeTeam.push(P.getPokemonByName(pokemon.name) // with Promise
                    .then(async function(response) {
                        var hp = 0;
                        var attack = 0;
                        var defense = 0;
                        var moves = [];
                        
                        response.stats.forEach(stat => {
                            if (stat.stat.name == "hp") {
                                hp = stat.base_stat;
                            } else if(stat.stat.name == "attack"){
                                attack = stat.base_stat;
                            } else if(stat.stat.name == "defense"){
                                defense = stat.base_stat;
                            }
                        });
                        response.moves.slice(0, 4).forEach(move => {
                            moves.push(P.getMoveByName(move.move.name)
                            .then(function(response) {
                                return {
                                    movename : response.name,
                                    pp : response.pp,
                                    maxpp : response.pp,
                                    type : response.type.name,
                                    damage : Math.floor(Math.random() * 50) + 1
                                };
                            }));
                        });
                        
                        async function getMoves(moves) {
                            return Promise.all(moves).then(function(result) {
                                var movesArray = [];
                                result.forEach(move => {
                                    movesArray.push({
                                        movename : move.movename,
                                        pp : move.pp,
                                        maxpp : move.pp,
                                        type : move.type,
                                        damage : move.damage
                                    });
                                });
                                return movesArray;
                            });
                        }
                        
                        return {
                            name : response.name,
                            moves : await getMoves(moves),
                            hp : hp,
                            maxhp : hp,
                            attack : attack,
                            defense : defense
                        };
                    }))

                });
                return pokeTeam;
            });
            return pokemonTeam;
        },
        async GetPokemonTeam(){
            var pokePromise = await this.GetRandomTeam();
            return Promise.all(pokePromise)
            .then(function(result) {
                var pokeTeam = [];
                result.forEach(pokemon => {
                    pokeTeam.push({
                        name : pokemon.name,
                        moves : pokemon.moves,
                        hp : pokemon.hp,
                        maxhp : pokemon.hp,
                        attack : pokemon.attack,
                        defense : pokemon.defense
                    });
                });

                return pokeTeam;
            });
        },
        switchbutton(){
            document.getElementById("DivAtaques").style.display="none";
            document.getElementById("DivSwitch").style.display="block";
        },
        attackbutton(){
            document.getElementById("DivSwitch").style.display="none";
            document.getElementById("DivAtaques").style.display="block";
        },
        changePokemon(index){
            console.log("im outside change");
            if (this.turn == true) {
                console.log("im in change");
                this.selectedPokemon = this.team[index];
                this.socket.emit('CHANGEPOKEMON', [this.opponentID, this.clientID, this.selectedPokemon]);
                this.socket.emit('CHANGETURN', [this.opponentID, this.clientID]);
            }
        },
        attack(index){
            if (this.turn == true && this.selectedPokemon.moves[index].pp > 0) {
                console.log("SENDING ATTACK");
                this.opponentPokemon.hp -= this.selectedPokemon.moves[index].damage;
                this.selectedPokemon.moves[index].pp -= 1;
                this.socket.emit('SENDATTACK', [this.opponentID, this.clientID, this.selectedPokemon.moves[index].damage]);
                this.socket.emit('CHANGETURN', [this.opponentID, this.clientID]);
            }
        },
        checkDead(){
            console.log("checking dead");
            console.log("selectedpokemon hp " + this.selectedPokemon.hp );
            if (this.selectedPokemon.hp <= 0) {

                var dead = true;
                var selected = 0;
                for (let index = 0; index < this.team.length; index++) {
                    var pkm = this.team[index];
                    if (pkm.hp >= 0) {
                        console.log("hp menor");
                        dead = false;
                        selected = index;
                    }
                }

                if (dead == false) {
                    console.log("dead false");
                    console.log("selected: " + selected);
                    this.selectedPokemon = this.team[selected];
                    this.socket.emit('CHANGEPOKEMON', [this.opponentID, this.clientID, this.selectedPokemon]);
                }
                else{
                    console.log("dead true");
                    this.socket.emit('FINISHBATTLE', [this.opponentID, this.clientID, this.opponentID]);
                }
            }
        }
    },
    async mounted() {
        this.socket.on('POKEMONCHANGE', (data) => {
            if (data[0] == this.clientID && data[1] == this.opponentID) {
                this.opponentPokemon = data[2];
                if (this.firstTurn == true) {
                    if (this.$route.params.initializer == this.clientID) {
                            this.turn = true;
                        }
                        else{
                            this.turn = false;
                        }
                    this.firstTurn = false;
                }
            }
        });
        this.socket.on('TURN', (data) => {
            if (data[0] == this.clientID || data[1] == this.clientID) {
                console.log("change turn " + this.turn + " -> " + !this.turn);
                this.turn = !this.turn;
            }
        });
        this.socket.on('FINISH', (data) => {
            if (data[0] == this.clientID || data[1] == this.clientID) {
                this.$router.push('Lobby');
            }
        });
        this.socket.on('ATTACK', (data) => {
            console.log("IM IN ATTACK " + data[0] + " " + data[1] + " " + data[2]);
            if (data[0] == this.clientID && data[1] == this.opponentID) {
                this.selectedPokemon.hp -= data[2];
                this.checkDead();
            }
        });
        var slower = 0;
        while (slower < 1000000000) {
            slower++;
        }
        this.clientID = this.$route.params.clientid;
        this.opponentID = this.$route.params.opponentid;
        var poketeam = await this.GetPokemonTeam();
        this.team = poketeam;
        this.selectedPokemon = poketeam[0];
        console.log("initial turn = " + this.turn);
        this.socket.emit('CHANGEPOKEMON', [this.opponentID, this.clientID, this.selectedPokemon]);
    }
}
</script>

<style>
    #pagina {
        /* height: 84vh; */
        height: 75vh;
        background-image: url("https://lolo.s-ul.eu/kcq5963N.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        vertical-align: top;
        width: 100vw;
    }

    #footer {
        height: 25vh;
        width: 100vw;
        background-color: #EEF2F5;
        
    }

    .ataques {
        position: relative;
        width: 20vw;
        background-color: #F3F3F3;
        display: inline-block;
        border: 1px solid #DBDDDE;
        text-align: center;
        border-radius: 10px;
        /* padding: 0.5%; */
    }

    .texto p {
        display: inline;
    }

    #TitleA {
        color: #914837;
        margin: 0;
        padding-top: 2%;
        padding-bottom: 1%;

    }

    .tipo {
        position: absolute;
        margin: 0;
        left: 10px;
        transform: translateY(-100%);

    }

    .nAtaques {
        position: absolute;
        margin: 0;
        right: 10px;
        transform: translateY(-100%);
    }

    .ataques p:first-child {
        font-weight: 800;
    }

    #DivAtaques {
        padding-left: 3%;
        /* display:none; */
    }

    #DivSwitch {
        padding-left: 3%;
        display: none;
    }

    .pokemons {
        position: relative;
        width: 13.3vw;
        background-color: #F3F3F3;
        display: inline-block;
        border: 1px solid #DBDDDE;
        text-align: center;
        border-radius: 10px;
    }

    .pokemons p:first-child {
        font-weight: 800;
        margin-top:16px !important;
        margin-bottom:5px;
    }

    progress {
        -webkit-appearance: none;
        height: 1vh;
        margin-bottom: 2%;
        width: 90%;
    }

    ::-webkit-progress-bar {
        /* background-color: orange; */
    }

    .pokemons p {
        margin: 0;
        margin-top: 4%;
    }

    #pokemonEspalda {
        position: absolute;
        top: 38vh;
        left: 20vw;
    }

    #pokemonCara {
        display: block;
        position: absolute;
        top: 32vh;
        left: 65vw;
    }

    #pokemonEspalda progress {
        display: block;
        width: 10vw;
    }

    #pokemonCara progress {
        display: block;
        width: 10vw;
    }

    #switch {
        background-image: url("https://pngimg.com/uploads/pokeball/pokeball_PNG24.png");
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        width: 6vw;
        height: 6vh;
        border:1px solid black;
        border-radius: 10px;
        vertical-align: top;
        margin-left: 5vw;
        position:absolute;
    }

    #attack {
        background-image: url("https://img.icons8.com/ios/452/battle.png");
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        width: 6vw;
        height: 6vh;
        border:1px solid black;
        border-radius: 10px;
        vertical-align: top;
        margin-left: 5.2vw;
        position:absolute;
    }
</style>