<template>
<div>
<div id="app">
<div class="back">
    <button v-on:click="back()">Back</button>
  </div>  
    <v-app>
      <v-main>
        <v-card class="mx-auto mt-5" max-width="900">
        

          <v-data-table
            :headers="columnas"
            :items="articulos"
            class="elevation-19"
        >
        <template v-slot:item.view="{ item }">
        <v-btn color="success" @click="createPacks(item)" class="botonweon">View</v-btn>
      </template>
        </v-data-table>
      </v-card>
      </v-main>
    </v-app>
  </div>
  </div>
</template>
<script>
import json from '../../sqloutput.json';
export default {
      data(){
        return{
          columnas:[
            {text:'PLAYER1', value:'Player1'},
            {text:'PLAYER2', value:'Player2'},
            {text:'RESULT', value:'Result'},
            {text:'VIEW', value:'view'}
          ]
          ,
          articulos: json
        }
      },
      methods:{
          back(){
              this.$router.push('Lobby');
              },
          loadHistorical(){
            
          }
      },
      mounted(){
        this.loadHistorical();
      }
}
  </script>
  <style>
    .botonweon{
        margin-left:25%;
    }
    .back{
    width:50%;
    height:30px;
    display:inline-block;
    text-align:center;
    vertical-align:top;
    position:relative;
    left:3.3%;
  }
  .back button{
    position:absolute;
    width:200%;
    left:0;
    text-align:center;

    box-shadow:inset 0px 1px 3px 0px #91b8b3;
    background:linear-gradient(to bottom, #768d87 5%, #6c7c7c 100%);
    background-color:#768d87;
    border-radius:5px;
    border:1px solid #566963;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Arial;
    font-size:15px;
    font-weight:bold;
    padding:11px 23px;
    text-decoration:none;
    text-shadow:0px -1px 0px #2b665e;
  }
   .back button:hover{
    background:linear-gradient(to bottom, #6c7c7c 5%, #768d87 100%);
    background-color:#6c7c7c;
  }
  </style>