<template>
  <div>
  
  <div class="history">
    <button v-on:click="history()">History</button>
  </div>
  <div class="disconnect">
    <button v-on:click="disconnect()">Disconnect</button>
  </div>
  <div class="tabla">
    <v-data-table
      :headers="headers"
      :items="clients"
      item-key="name"
      class="elevation-1"
      :search="search"
      :hide-default-footer="true"
    >
      <template v-slot:top>
        <v-text-field
          v-model="search"
          label="Search player"
          class="mx-4"
        ></v-text-field>
      </template>
      <template v-slot:item.action="{ item }">
        <v-btn :id="item.name" @click="duelButton(item.name)">Duel</v-btn>
      </template>
    </v-data-table>
    <v-snackbar
      v-model="snackbar"
    >
      {{ snackbarText }}

      <template v-slot:action="{ attrs }">
        <v-btn
          color="red"
          text
          v-bind="attrs"
          @click="snackbar = false"
        >
          Close
        </v-btn>
      </template>
    </v-snackbar>
    </div>
  </div>
</template>

<script>
  import io from 'socket.io-client';
  export default {
    name : 'Lobby',
    data () {
      return {
        search: '',
        clientID : '',
        snackbar : false,
        snackbarText : 'fdsafdsa',
        clients : [],
        socket : io('localhost:3001')
      }
    },
    computed: {
      headers () {
        return [
          {
            text: 'Username',
            align: 'start',
            sortable: false,
            value: 'name',
          },
          { text: 'Status', value: 'status' },
          { text: 'Actions', value: 'action' }
        ]
      },
    },
    mounted() {
      this.socket.on('CONNECTION', (data) => {
        if (this.clientID == '') {
          this.clientID = data[data.length - 1][0];
        }
        this.clients = [];
        data.forEach(element => {
          if (element[0] != this.clientID) {
            this.clients.push({name: element[0], status: element[1]});
          }
        });
      });
      this.socket.on('INCOMINGDUEL', (users) => {
        if (users[1] != this.clientID && users[0] == this.clientID) {
          this.snackbarText = "Incoming duel from " + users[1];
          this.snackbar = true;
          var button = document.getElementById(users[1]);
          button.style.backgroundColor = "green";
        }
      });
      this.socket.on('BATTLE', (users) => {
        if (users[1] == this.clientID || users[0] == this.clientID) {
          this.$router.push({name:'Battle', params: { opponentid: (users[0] == this.clientID ? users[1] : users[0]), clientid: (users[1] == this.clientID ? users[1] : users[0]), initializer: users[1]}});
        }
      });
    },
    methods: {
      SendDuel(username) {
          this.socket.emit('DUEL', [username, this.clientID]);
        },
      disconnect(){
        this.socket.emit('DISCONNECT', this.clientID);
        this.$router.push('/');
      },
      history(){        
        this.$router.push('Historical');
      },
      duelButton(id){
        if(document.getElementById(id).style.backgroundColor == "green"){
          this.socket.emit('CREATEBATTLE', [id, this.clientID]);
        }
        else{
          this.SendDuel(id);
        }
      }
    }
  }
</script>
<style>
  .tabla{
    position:absolute;
    top:6.7vh;
    width:100%;

  }
  .disconnect{
    width:50%;    
    height:5%;
    display:inline-block;
    text-align:center;
    vertical-align:top;
    position:relative;
    background-color:blue;
  }
  .history{
    width:50%;
    height:30px;
    display:inline-block;
    text-align:center;
    vertical-align:top;
    position:relative;
    left:3.3%;
  }
  .disconnect button{
    position:absolute;
    width:100%;
    left:6.6%;
    text-align:center;

    box-shadow:inset 0px 1px 0px 0px #caefab;
    background:linear-gradient(to bottom, #77d42a 5%, #5cb811 100%);
    background-color:#77d42a;
    border-radius:6px;
    border:1px solid #268a16;
    display:inline-block;
    cursor:pointer;
    color:#306108;
    font-family:Arial;
    font-size:15px;
    font-weight:bold;
    padding:6px 24px;
    text-decoration:none;
    text-shadow:0px 1px 0px #aade7c;
  }
  .history button{
    position:absolute;
    width:100%;
    left:0;
    text-align:center;

    box-shadow:inset 0px 1px 3px 0px #91b8b3;
    background:linear-gradient(to bottom, #768d87 5%, #6c7c7c 100%);
    background-color:#768d87;
    border-radius:5px;
    border:1px solid #566963;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Arial;
    font-size:15px;
    font-weight:bold;
    padding:11px 23px;
    text-decoration:none;
    text-shadow:0px -1px 0px #2b665e;
  }

  .disconnect button:hover{
    background:linear-gradient(to bottom, #5cb811 5%, #77d42a 100%);
    background-color:#5cb811;
  }
  .history button:hover{
    background:linear-gradient(to bottom, #6c7c7c 5%, #768d87 100%);
    background-color:#6c7c7c;
  }
</style>