<template>
<form action="#" @submit="SendNewUser()"><fieldset><input id="usernameInput" type="search" placeholder="USERNAME" @focus="changeSrc()" @blur="changeSrc()"/><button type="submit"><img id="pokeballimg" class="fa fa-search" src="https://lolo.s-ul.eu/pS4PoSOL.svg"></button></fieldset></form>
</template>

<script>
  import io from 'socket.io-client';
  export default {
    name: 'Login',
    data() {
        return {
            inputFocused : false,
            socket : io('localhost:3001')
        }
    },
    methods: {
        changeSrc() {
          console.log("change source");
            var pokeball = document.getElementById("pokeballimg");
            if (this.inputFocused == false) {
                this.inputFocused = true;
                pokeball.src = "https://lolo.s-ul.eu/SxorG1sR.svg";
            }
            else{
                this.inputFocused = false;
                pokeball.src = "https://lolo.s-ul.eu/pS4PoSOL.svg";
            }
        },
        SendNewUser() {
          var username = document.getElementById('usernameInput').value;
          if (username != undefined && username != "") {
            this.socket.emit('LOGIN', username);
            this.$router.push('Lobby');
          }
        }
    },
    mounted() {
        
    }
  }
</script>

<style>
html {
  background: bisque;
  height: 100%;
  width: 100%;
  margin: 0;
}

body {
  height: 100%;
  width: 100%;
  margin: 0;
  font-family: 'Lexend', sans-serif;
}

form {
    position: relative;
  top: 50%;
}

fieldset {
  position: relative;
  left: 50%;
  transform: translate(-50%, -50%);
  display: inline-block;
  padding: 0 0 0 50px;
  border: 1px solid black;
  border-radius: 5px;
}

input,
button {
  position: relative;
  width: 200px;
  height: 50px;
  padding: 0;
  display: inline-block;
  float: left;
}

input {
  color: #666;
  z-index: 2;
  border: 0 none;
}
input:focus {
  outline: 0 none;
}
input:focus + button {
  -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
          transform: translate(0, 0);
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}
input:focus + button .fa {
  -webkit-transform: translate(0px, 0);
      -ms-transform: translate(0px, 0);
          transform: translate(0px, 0);
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  color: #fff;
}

button {
  z-index: 1;
  width: 50px;
  border: 0 none;
  cursor: pointer;
  border-radius: 0 5px 5px 0;  
  -webkit-transform: translate(-50px, 0);
      -ms-transform: translate(-50px, 0);
          transform: translate(-50px, 0);
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

.fa-search {
    width: 2.7rem;
    height: auto;
  color: #29abe2;
  z-index: 3;
  top: 25%;
  -webkit-transform: translate(-200px, 0);
      -ms-transform: translate(-200px, 0);
          transform: translate(-200px, 0);
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  -webkit-transition: all 0.1s ease-in-out;
          transition: all 0.1s ease-in-out;
}
</style>