<template>
  <v-app>
    <v-main>
      <router-view/>
    </v-main>
  </v-app>
</template>

<script>
import Battle from './components/Battle.vue'
import Login from './components/Login.vue'
import Lobby from './components/Lobby.vue'
import Historical from './components/Historical.vue'
import io from 'socket.io-client';

export default {
  data() {
        return {
            loadedComponent : 'Login',
            socket : io('localhost:3001')
        }
    },
  name: 'app',
  components: {
    Battle,
    Login,
    Lobby,
    Historical
  }
}
</script>

<style>
  @import url('https://fonts.googleapis.com/css2?family=Lexend:wght@400&display=swap');
  #app {
    height: 100%;
    width: 100%;
    margin: 0;
  }
</style>
